/* import font */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    transition: 0.4s all ease;
}

body {
    font-family: 'Cairo', sans-serif;
    transition: 0.4s all ease;
}
/* Start Global css */
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.5s;
    --main-padding: 100px 50px;
    --section-background: #ececec;
    --box-shadow: 0 0 10px #ddd;
    --box-shadow-inset: 0px 8px 24px rgba(0,0,0,10);

}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
/* Small */
@media (min-width: 768px) {
.container {
    width: 750px;
}
}
/* Medium */
@media (min-width: 992px) {
.container {
    width: 970px;
}
}
/* Large */
@media (min-width: 1200px) {
.container {
    width: 1170px;
}
}

/* Start Spikes */
.spikes {
position: relative;
background: #2c3e50;
}

.spikes::after {
content: '';
position: absolute;
right: 0;
left: -0%;
top: 100%;
z-index: 10;
display: block;
height: 50px;
background-size: 50px 100%;
background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
background-position: 0 0;
}
/* End Spikes */

/* Start main title */
.main-title {
    position: relative;
    margin: 0 auto 80px;
    padding: 10px 25px;
    width: fit-content;
    border: 3px solid var(--main-color);
    z-index: 10;
}
.main-title::before,
.main-title::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-color: var(--main-color-alt);
    border-radius: 50%;
    z-index: 10;
}
.main-title::before {
    left: -40px;
    z-index: -1;
}
.main-title::after{
    right: -40px;
    z-index: -1;
}
.main-title:hover::before {
    animation: fill-left 0.5s linear forwards;
}
.main-title:hover::after {
    animation: fill-right 0.5s linear forwards;
}
.main-title:hover {
    color: white;
    border: 3px solid white;

}
@keyframes fill-left {
    50% {
        left: 0;
    }
    100% {
        left: 0;
        width: 55%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes fill-right {
    50% {
        right: 0;
    }
    100% {
        right: 0;
        width: 55%;
        height: 100%;
        border-radius: 0;
    }
}
/* End main title */

/* End Global css */

/* Start Header */
header {

    background-color: white;
    box-shadow: var(--box-shadow);
}
header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
header  .logo {
    color: var(--main-color);
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
header .container .logo > i {
    color: #cecfcf;
    margin-right: 5px;
}
header .container .logo:hover > i {
    color: var(--main-color);
}
header .container .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container .main-nav li  a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: black;
    font-size: 18px;
    height: 70px;
    padding: 0 30px;
    transition: var(--main-transition);
    overflow: hidden;
}

header .container .main-nav li > a:hover{
    background-color: #fafafa;
    color: var(--main-color);
}
header .container .main-nav li > a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background: var(--main-color-alt);
    border-radius: 7px;
    transition: var(--main-transition);
}
header .container .main-nav li > a:hover::before {
    left: 0;

}

/* media mobile */
@media (max-width: 767px) {
    header  .logo {
        width: 100%;
        height: 50px;
        justify-content: center;
        border-bottom: 2px solid #ddd ;
    }
    header .container .main-nav li > a {
        justify-content: center;
        font-size: 12px;
        height: 50px;
        padding: 0 auto;
    }
}

.mega-menu {
    position: absolute;
    top: 150%;
    left: 0;
    max-width: 100%;
    background-color: white;
    padding: 30px;
    border-bottom: 4px solid var(--main-color);
    opacity: 0;
    transition: all 0.5s ease;
    box-shadow: var(--box-shadow);

}

.mega-menu .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}
.mega-menu .container .image img {
    max-width: 100%;
    width: 400px;
}
.mega-menu .container .links {
    min-width: 220px;
}
.mega-menu .container .links  li {
    position: relative;

}
.mega-menu .container .links  li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #ececec;
    transition: var(--main-transition);
    z-index: -1;
}
.mega-menu .container .links  li:hover::before {
    width: 100%;
    background-color: none;
}
.mega-menu .container .links  li a i {
    margin-right: 15px;
    font-size: 22px;
}
.mega-menu .container .links  li:not(:last-child){
    border-bottom: 2px solid #ececec;
}

/* media */
@media (max-width: 991px){
    .mega-menu .container .image {
        display: none;
    }
    .mega-menu .container .links {
        flex: 1;
        gap: 0px;
    }

}
@media(max-width: 767px){
    .mega-menu .container {
        gap: 0;
    }
    .mega-menu .container .links  li:last-child{
        border-bottom: 2px solid #ececec;
    }
}
#open-mega {
    cursor: pointer;
}
.mega-menu.active {
    opacity: 100%;
    top: 110%;
    z-index: 10;
}
.mega-menu > #close {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 25px;
    color: var(--main-color);
    cursor: pointer;
    transition: var(--main-transition);
}
.mega-menu #close:hover {
    color: rgb(187, 2, 2);
}
/* End Header */

/* Start Landing */
.landing {
    position: relative;
    padding: var(--main-padding);
    height: calc(100vh - 75px) auto;
}
.landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
}
.landing .text {
    max-width: 500px;
}
.landing .text h2 {
    font-size: 37px;
    font-weight: bold;
    margin-bottom: 15px;
}
.landing .text p {
    color: #777;
    line-height: 1.7;
    font-size: 22px;
}
.landing .image img {
    position: relative;
    max-width: 500px;
    width: 100%;
    animation: up-dwon 5s ease  infinite;
}
@keyframes up-dwon {
    0%, 100% {
        top: 0;
    }
    50% {
        top: -40px;
    }
}
.landing > a {
    color: var(--main-color);
    font-size: 26px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    animation: ani 5s ease  infinite;
}
@keyframes ani {
    0%, 20%, 80%, 100% {
        transform: translateY(0);
    }
    40%, 60% {
        transform: translateY(-10px);
    }
}
/* media */
@media (max-width: 991px) {
    .landing .image {
       max-width: 100%; 
    }

    .landing .text {
        text-align: center;
    }
}
/* End Landing */

/* Start Articals */
.articals {
    position: relative;
    padding: 50px 0;
    background-color: white;
}
.articals .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 35px;
}
.articals .container .card {
    width: 250px;
    background-color: white;
    box-shadow: var(--box-shadow);
    border-radius: 7px;
    transition: var(--main-transition);
    overflow: hidden;

}
.articals .container .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #999;
}

.articals .container  .card .body {
    padding:10px;
}
.articals .card img {
    width: 100%;
    height: 150px;
}
.articals .container .card h3 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}

.articals .container .card p {
    color: #777;
    line-height: 1.5;
    letter-spacing: 0.5px;
}
.articals .container .card .body > a {
    position: relative;
    margin-top: 20px;
    display: block;
    color: var(--main-color);
    font-weight: bold;
    border-top: 2px solid #666;
    overflow: hidden;
    transition: var(--main-transition);
    padding: 10px

}
.articals .container .card .body > a::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f30b";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.articals .container .card .body:hover > a::after {
    animation: arraw 0.6s linear infinite ;
}
@keyframes arraw {
    100% {
        right: -3px;
    }
}
@media (max-width: 991px) {
    .articals .container .card {
        width: 40%;
    }
}
@media (max-width: 767px) {
    .articals .container .card {
        width: 100%;
    }
}
/* End Articals */

/* Start gallery */
.gallery {
    padding: 100px 0px ;
    position: relative;
    background-color: var(--section-background);
}
.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 35px;
}
.gallery   .box {
    position: relative;
    background-color: white;
    padding: 15px;

}
.gallery .container .box .image {
    position: relative;
    overflow: hidden;
}
.gallery .container .box .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, 0.151);
    opacity: 0;
    transition: var(--main-transition)
   
}
.gallery .container .box .image:hover::before {
    animation: flashing 0.5s  ease;
    z-index: 2;
}
@keyframes flashing {
    0%, 40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}
.gallery .container .box img {
    max-width: 100%;
    transition: var(--main-transition);
}
.gallery .container .box .image:hover img{
    transform:  scale(1.1)rotate(5deg);
}

.gallery .spikes {
    position: relative;
}
.gallery .spikes::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    display: block;
    padding-top: 0;
  background-size: 50px 100%;
  background-image: linear-gradient(135deg, #ffffff 25%, transparent 25%), linear-gradient(225deg, #ffffff 25%, transparent 25%);
  background-position: 0 0;
}
/* End gallery */

/* Start features */

.features {
    padding: 100px 0px ;
    position: relative;
    background-color: white;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 35px;
}
.features .container .card {
    position: relative;
    border: 2px solid #ececec;
    box-shadow: var(--box-shadow);

}
.features .card .img-head {
    position: relative;
    overflow: hidden;
    transition: var(--main-transition);
}
.features .card .img-head::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
    
}
.features .card .Quality::before {
    background-color: rgb(244 64 54 / 50%);

}
.features .card .Time::before {
    background-color: rgb(0 150 136 / 50%);
}
.features .card .Passion::before {
    background-color: rgb(3 169 244 / 50%);
}

.features .card .img-head::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-width:0 0 160px 358px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}
.features .card:hover .img-head::after {
    border-width:0 360px 160px 0;
}
.features .card .img-head img {
    max-width: 100%;
}
.features .card .content {
    padding: 15px;
    text-align: center;
}
.features .card .content h3 {
    font-size: 26px;
    position: relative;
    width: fit-content;
    display: block;
    margin: 20px auto;
}
.features .card .content h3::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 45px;
    height: 3px;
    background-color: rgb(244 64 54 / 90%);
    border-radius: 7px;

}
.features .card .content p {
    color: #777;
    line-height: 1.5;
    letter-spacing: 0.5px;
}
.features .card a {
    position: relative;
    display: block;
    margin: 20px auto;
    font-weight: bold;
    width: fit-content;
    padding: 10px 25px;
    transition: var(--main-transition);
    overflow: hidden;
}
.features .card a.Quality {
    border: 3px solid rgb(244 64 54 / 100%) ;
    color: rgb(244 64 54 / 100%);
}
.features .card a.Time {
    border: 3px solid rgb(0 150 136 / 100%);
    color: rgb(0 150 136 / 100%);
}
.features .card a.Passion {
    border: 3px solid rgb(3 169 244 / 100%);
    color: rgb(3 169 244 / 100%);
}
.features .card a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: var(--main-transition);
    color: white;
}
.features .card a:hover::before {
    left: 0;
}
/* End features */


/* Start Testimonials */
.Testimonials {
    padding: 100px 0px ;
    position: relative;
    background-color: var(--section-background);
}
.Testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 55px 35px;
}
.Testimonials .container .box {
    position: relative;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
    border-radius: 6px
}
.Testimonials  .box img {
    position: absolute;
    right: 0;
    top: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;    
    border: 7px solid var(--section-background);
}
.Testimonials  .box h3 {
    margin: 10px auto;
    font-weight: bold;
    color: var(--main-color);
}
.Testimonials  .box span {
    margin: 5px auto;
    display: block;
    color: #cecfcf;
}
.Testimonials  .box .rate {
    padding: 10px 0;
}
.Testimonials  .box .rate .filled {
    color: #ffc107;
}
.Testimonials  .box p {
    color: #777;
    line-height: 1.5;
    letter-spacing: 0.5px;
}
/* End Testimonials */

/* Start time-members */
.time-members {
    padding: 100px 0;
    position: relative;

}
.time-members .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 35px;
}
.time-members .team-box {
    position: relative;
    padding: 30px 0;
}
.time-members .team-box::before,
.time-members .team-box::after {
    content: "";
    position: absolute;
    width: calc(100% - 60px);
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 7px;
    transition: all var(--main-transition);
    z-index: -2;

}
.time-members .team-box::before {
    background-color: #f3f3f3;
    z-index: -2;
}
.time-members .team-box::after {
    background-color: rgb(3 169 244 / 20%);
    z-index: -1;
    width: 0;
}
.time-members .team-box:hover::after {
    width: 80%;
}
.time-members .team-box .head {
    display: flex;
    gap: 25px;
}
.time-members .team-box .head img {
    max-width: 80%;
    border-radius: 10px;
}
.time-members .team-box:hover .head img {
    filter: grayscale(100%);
}
.time-members .team-box .head .social {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.time-members .team-box .head .social a i {
    color: #777;
    font-size: 20px;
}
.time-members .team-box .head .social a i:hover {
    color: var(--main-color);
}
.time-members .team-box .info {
    margin-left: 80px;
    padding-top: 10px;
}
.time-members .team-box .info h3 {
    color: var(--main-color-alt);
}
.time-members .team-box .info p {
    color: #777;
}
/* End time-members */

/* Start Services */

.services {
    padding: 100px 0;
    position: relative;
    background-color: var(--section-background);
    transition: all var(--main-transition)
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 35px;
}
.services .container .serv {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: var(--box-shadow);
    transition: var(--main-transition);
}
.services .container .serv:hover {
    transform: translateY(-10px);
}
.services .serv::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 3px;
    background: #1787e0;
    transition: var(--main-transition);
}
.services .container .serv:hover::after {
    width: 100%;
}
.services .container .serv .content i {
    color: #ddd;
    margin: 25px auto;
}
.services .container .serv .content h3 {
    color: var(--main-color);
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 30px;
}
.services .container .serv .info {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
    padding: 15px 20px;
    overflow: hidden;
}
.services .container .serv .info span {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    color: white;
    vertical-align: auto;
    z-index: 10;
}
.services .container .serv .info::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 130px;
    height: 80%;
    background-color: #ececec;
    transform: skewX(-30deg);

}
.services .container .serv .info::after {
    content: "";
    position: absolute;
    left: -33px;
    bottom: 0;
    width: 120px;
    height: 80%;
    background-color: var(--main-color);
    transform: skewX(-30deg);
}
.services .container .serv .info a {
    color: var(--main-color);
    transition: all var(--main-transition)
}
.services .container .serv .info a:hover {
    text-decoration: underline;

}

/* End Services */

/* Start our skils */
.our-skils {
    padding: 100px 0;
    position: relative;
    transition: all var(--main-transition)
}
.our-skils .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
@media(max-width: 991px) {
    .our-skils .container .image img {
        display: none;
    }    
}
.our-skils .container .box-skils {
    flex: 1;
}
.our-skils .container .box-skils .skil {
    margin: 20px 0;
}
.our-skils  .box-skils .skil h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-color);
}
.our-skils  .box-skils .skil h3 span {
    font-size: 14px;
    border: 2px solid #cecfcf;
    padding: 2px 5px;
    border-radius: 4px;
}
.our-skils  .box-skils .skil .progress {
    position: relative;
    width: 100%;
    height: 15px;
    background-color: #eee;
    margin: 10px 0;
    border-radius: 7px;
    overflow: hidden;
}
.our-skils  .box-skils .skil .progress span {
    position: absolute;
    height: 100%;
    background-color: var(--main-color);
}
/* End our skils */



/* Start work step */
.work {
    padding: 100px 0;
    position: relative;
    background-color: var(--section-background);
    transition: all var(--main-transition)
}
.work .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 45px;
}
.work .container .image img {
    padding: 30px;
    max-width: 100%;
}
.work .work-steps {
    padding: 50px 0;
}
.work .work-steps .works {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
    width: 400px;
    padding: 25px;
    background-color: #f6f5f5;
    border: 3px solid white;
    border-radius: 7px;
    margin: 20px 0;
    z-index: 2;
}
.work .work-steps .works::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: #ededed;
    transition: var(--main-transition);
    z-index: -1;
}
.work .work-steps .works:hover::before {
    width: 100%;
    height: 100%;
}

.work .work-steps .works img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.work .work-steps .works h4 {
    color: var(--main-color);
    font-size: 22px;
    margin-bottom: 10px;
}
.work .work-steps .works p {
    color: #777;
    line-height: 1.4;
    letter-spacing: 0.5px;
}

/* End work step */

/* Start events */
.events {
    padding: 100px 0;
    position: relative;
    transition: all var(--main-transition)
}
.events .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}
.events .container img {
    max-width: 400px;
}
.events .container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
.events .content .count-down {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 25px 0;
}
.events .content .count-down .box {
    text-align: center;
    border: 2px solid var(--main-color);
    border-radius: 7px;
    width: 100px;
}
.events .content .count-down .box span {
    display: block;
    font-size: 35px;
    font-weight: bold;
    color: var(--main-color);
    margin: 20px;
}
.events .content .count-down .box p {
    border-top:  2px solid var(--main-color) ;
    padding: 5px 10px;
}
.events .content .info {
    text-align: center;
    margin: 30px 0;
}
.events .content .info h3 {
    font-weight: bold;
    margin-bottom: 20px;
}
.events .content .info p {
    text-align: center;
    line-height: 1.7;
    font-size: 18px;
    color: #777;
}
.events .subscrib {
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
    width: 450px;
    background-color: #f6f6f6;
    padding: 30px;
    border-radius: 50px;
}

.events .subscrib input:first-child {
    padding: 20px 20px;
    border-radius: 50px;
    outline: none;
    border: none;
}
.events .subscrib input:last-child {
    padding: 20px 20px;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: var(--main-color-alt);
    color: white;
    font-weight: bolder;
    font-size: 18px;
    cursor: pointer;
}
@media(max-width: 767px) {
    .events .subscrib {
        flex-direction: column;
        border-radius: 7px;
    }
    .events .subscrib input:first-child {
        margin-bottom: 20px;
    }
}
/* End events */

/* Start Pricing */
.pricing {
    padding: 100px 0;
    position: relative;
    transition: all var(--main-transition);
    background-color: var(--section-background);
}
.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 35px;
    text-align: center;
}
.pricing .box {
    position: relative;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    background-color: white;  
}
.pricing .box:nth-child(2)::before{
    position: absolute;
    content: "Best Price";
    top: 0;
    right: 20px;
    width: fit-content;
    padding: 10px 10px 30px 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    writing-mode: vertical-rl;
    text-align: center;
    background-color: var(--main-color);
}
.pricing .box:nth-child(2)::after {
    position: absolute;
    content: "";
    top: 79px;
    right: 20px;
    border-width: 20px;
    border-color: transparent transparent white transparent;
    border-style: solid;
    z-index: 2;
}
.pricing .box .title {
    margin: 25px 30px;
    font-size: 22px;
}
.pricing .box  img {
    width: 100px;
    margin-bottom: 30px;
}

.pricing .box .pric {
    margin-bottom: 35px;
}
.pricing .box .pric  h2 {
    font-size: 60px;
    font-weight: bold;
    color: var(--main-color);
}
.pricing .box .pric {
    color: #777;
}
.pricing .box .Features {
    margin: 35px auto;
    text-align: left;
}
.pricing .box .Features li {
    position: relative;
    padding: 25px 15px ;
    border-top: 1px solid #eee;
}
.pricing .box .Features li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: 600;
    color: var(--main-color);
}
.pricing .box a {
    display: block;
    width: fit-content;
    margin: 30px auto;
    padding: 15px;
    color: var(--main-color);
    border-radius: 7px;
    font-weight:  bold;
    letter-spacing: 1.2px;
    border: 2px solid var(--main-color);
    transition: var(--main-transition);
}
.pricing .box a:hover {
    background-color: var(--main-color);
    color: white;
}
/* End Pricing */


/* Start Top Videos */
.top-videos {
    padding: 100px 0;
    position: relative;
    transition: all var(--main-transition);
}

.top-videos .container .content {
    display: flex;
    justify-content: space-around;
    border: 1px solid #dddddd;
}
@media (max-width: 991px) {
    .top-videos .container .content {
        flex-direction: column;
    }
}
.top-videos .content .list {
   flex-basis: 350px;
}
.top-videos .content .list .title {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: #f4f4f4;
}
.top-videos .content .list .title span {
    font-weight: bold;
    font-size: 20px;
}
.top-videos .content .list .title i {
    color: var(--main-color);
    cursor: pointer;
}

.top-videos .content .list ul li{
    padding: 20px;
    background-color: white;
    cursor: pointer;
    border: 1px solid var(--section-background);
}
.top-videos .content .list ul li span {
    display: block;
    color: var(--main-color);
    margin-top: 10px;
}
.top-videos .content .list ul li:hover {
    color: var(--main-color);
    background-color: #fafafa;
}
.top-videos .content .preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--section-background);
}

.top-videos .content .preview img{
    max-width: 100%;
}
.top-videos .content .preview .info {
    padding: 20px;
    margin-top: 30px;
    background-color: white;
    color: var(--main-color-alt);
}
/* End Top Videos */
.stats {
    position: relative;
    padding: 50px;
    background-image: url(../imgs/stats.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;

}
.stats::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.849);
}
.stats .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.stats .container .box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 10px;
    box-shadow: var(--box-shadow);
}
.stats .container .box::before,
.stats .container .box::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 0%;
    background-color: var(--main-color);
    transition: var(--main-transition);
}
.stats .container .box::before {
    top: 0;
    left: 0;
}
.stats .container .box::after {
    right: 0;
    bottom: 0;
}
.stats .box:hover::after,
.stats .box:hover::before {

    height: 100%;
}

.stats .container .box i {
    margin: 15px auto;
}
.stats .container .box .number {
    font-size: 45px;
    font-weight: bold;
}
.stats .container .box .text {
    color: var(--main-color);
    font-style: oblique;
    font-size: 20px;
    font-weight: bold;
}
/* Start Stats */

/* End Stats */


/* Start Descount */
.descount {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.descount .image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    background-image: url(../imgs/discount-background1.jpg);
    background-size: cover;
    flex-basis: 50%;
    transition: var(--main-transition);
    animation: change-background 10s linear infinite;
}
.descount .image::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 143, 255, 0.973);
    z-index: 1;
}
.descount .image .content {
    z-index: 2;
    color: white;
}
.descount .image .content h2 {
    font-size: 40px;
    margin-bottom: 20px;
    letter-spacing: -1px;
}
.descount .image .content p {
    line-height: 1.6;
}
.descount .image .content img {
    width: 300px;
    max-width: 100%;
}
.descount form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    flex-basis: 50%;
}
.descount form h2 {
    font-size: 40px;
    margin-bottom: 30px;
    letter-spacing: -1px;
}
.descount form input,
.descount form textarea {
    display: block;
    width: 60%;
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    caret-color: var(--main-color);
    outline: none;
}
.descount form input:focus,
.descount form textarea:focus {
    border: 2px solid var(--main-color);
}
.descount form textarea {
    resize: none;
    height: 100px;
}
.descount form [type= "submit"] {
    color: white;
    font-weight: bold;
    font-size: 22px;
    background-color: var(--main-color);
    cursor: pointer;
}
@media(max-width: 991px){
    .descount .image {
        flex-basis: 100%;
    }
    .descount form {
        flex-basis: 100%;

    }
    .descount form input,
    .descount form textarea {
        width: 100%;
    }
}
/* Change background Section */
@keyframes change-background {
    0%,
    100% {
        background-image: url(../imgs/discount-background1.jpg);
    }
    50% {
        background-image: url(../imgs/discount-background2.jpg);  
    }
}
/* End Descount */

/* Start footer */

footer {
    padding: 70px 0;
    position: relative;
    transition: all var(--main-transition);
    background-image: linear-gradient(50deg, rgba(146, 146, 146, 0.02) 0%, rgba(146, 146, 146, 0.02) 25%,rgba(82, 82, 82, 0.02) 25%, rgba(82, 82, 82, 0.02) 50%,rgba(217, 217, 217, 0.02) 50%, rgba(217, 217, 217, 0.02) 75%,rgba(41, 41, 41, 0.02) 75%, rgba(41, 41, 41, 0.02) 100%),linear-gradient(252deg, rgba(126, 126, 126, 0.01) 0%, rgba(126, 126, 126, 0.01) 25%,rgba(117, 117, 117, 0.01) 25%, rgba(117, 117, 117, 0.01) 50%,rgba(219, 219, 219, 0.01) 50%, rgba(219, 219, 219, 0.01) 75%,rgba(41, 41, 41, 0.01) 75%, rgba(41, 41, 41, 0.01) 100%),linear-gradient(272deg, rgba(166, 166, 166, 0.01) 0%, rgba(166, 166, 166, 0.01) 20%,rgba(187, 187, 187, 0.01) 20%, rgba(187, 187, 187, 0.01) 40%,rgba(238, 238, 238, 0.01) 40%, rgba(238, 238, 238, 0.01) 60%,rgba(204, 204, 204, 0.01) 60%, rgba(204, 204, 204, 0.01) 80%,rgba(5,5,5, 0.01) 80%, rgba(5,5,5, 0.01) 100%),linear-gradient(86deg, rgba(143, 143, 143, 0.02) 0%, rgba(143, 143, 143, 0.02) 12.5%,rgba(36, 36, 36, 0.02) 12.5%, rgba(36, 36, 36, 0.02) 25%,rgba(23, 23, 23, 0.02) 25%, rgba(23, 23, 23, 0.02) 37.5%,rgba(223, 223, 223, 0.02) 37.5%, rgba(223, 223, 223, 0.02) 50%,rgba(101, 101, 101, 0.02) 50%, rgba(101, 101, 101, 0.02) 62.5%,rgba(94, 94, 94, 0.02) 62.5%, rgba(94, 94, 94, 0.02) 75%,rgba(148, 148, 148, 0.02) 75%, rgba(148, 148, 148, 0.02) 87.5%,rgba(107, 107, 107, 0.02) 87.5%, rgba(107, 107, 107, 0.02) 100%),linear-gradient(25deg, rgba(2, 2, 2, 0.02) 0%, rgba(2, 2, 2, 0.02) 16.667%,rgba(51, 51, 51, 0.02) 16.667%, rgba(51, 51, 51, 0.02) 33.334%,rgba(26, 26, 26, 0.02) 33.334%, rgba(26, 26, 26, 0.02) 50.001000000000005%,rgba(238, 238, 238, 0.02) 50.001%, rgba(238, 238, 238, 0.02) 66.668%,rgba(128, 128, 128, 0.02) 66.668%, rgba(128, 128, 128, 0.02) 83.33500000000001%,rgba(21, 21, 21, 0.02) 83.335%, rgba(21, 21, 21, 0.02) 100.002%),linear-gradient(325deg, rgba(95, 95, 95, 0.03) 0%, rgba(95, 95, 95, 0.03) 14.286%,rgba(68, 68, 68, 0.03) 14.286%, rgba(68, 68, 68, 0.03) 28.572%,rgba(194, 194, 194, 0.03) 28.572%, rgba(194, 194, 194, 0.03) 42.858%,rgba(51, 51, 51, 0.03) 42.858%, rgba(51, 51, 51, 0.03) 57.144%,rgba(110, 110, 110, 0.03) 57.144%, rgba(110, 110, 110, 0.03) 71.42999999999999%,rgba(64, 64, 64, 0.03) 71.43%, rgba(64, 64, 64, 0.03) 85.71600000000001%,rgba(31, 31, 31, 0.03) 85.716%, rgba(31, 31, 31, 0.03) 100.002%),linear-gradient(90deg, hsl(80,0%,14%),hsl(80,0%,14%));
}
footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    color: #b9b9b9;
}
footer .container .info h2 {
    font-size: 45px;
    color: white;
    margin-bottom: 10px;
}
footer .container .info .social  {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer .container .info .social a {
    width: 50px;
    height: 50px;
    margin: 10px 5px;
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* witter */
footer .container .info  .twitter:hover {
    background-color: var(--main-color);
    color: white;
}
footer .container .info .facebook:hover {
    background-color: #1877F2;
    color: white;
}
footer .container .info .youtube:hover {
    background-color: #CD201F;
    color: white;
}
footer .container .info p {
    max-width: 220px;
    line-height: 1.8;
}

footer .container .links ul li {
    position: relative;
    padding: 15px 0;
    border-bottom: 1px dotted #b9b9b9;
    cursor: pointer;
    transition: var(--main-transition);
    overflow: hidden;
}
footer .container .links ul li::before {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: "\f101";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    margin-right: 10px;
    color: var(--main-color);
    
}
footer .container .links ul li:hover {
    transform: translateX(20px);
}
footer .container .contact-us {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}
footer .container .contact-us .line {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
}
footer .container .contact-us .line .phone {
    display: block;
}
footer .container .contact-us .line i {
    font-weight: bold;
    color: var(--main-color);
    font-size: 22px;
}
footer .container .contact-us .line p {
    line-height: 1.5;
}

footer .container .photos img {
    width: 70px;
    height: 70px;
    margin: 5px;
    border: 3px solid white;
}
@media(max-width: 767px){

    footer .container .contact-us .line {
        flex-direction: column;
        justify-content: flex-start;

    }
}
/* End footer */
.copyright {
    background-image: linear-gradient(50deg, rgba(146, 146, 146, 0.02) 0%, rgba(146, 146, 146, 0.02) 25%,rgba(82, 82, 82, 0.02) 25%, rgba(82, 82, 82, 0.02) 50%,rgba(217, 217, 217, 0.02) 50%, rgba(217, 217, 217, 0.02) 75%,rgba(41, 41, 41, 0.02) 75%, rgba(41, 41, 41, 0.02) 100%),linear-gradient(252deg, rgba(126, 126, 126, 0.01) 0%, rgba(126, 126, 126, 0.01) 25%,rgba(117, 117, 117, 0.01) 25%, rgba(117, 117, 117, 0.01) 50%,rgba(219, 219, 219, 0.01) 50%, rgba(219, 219, 219, 0.01) 75%,rgba(41, 41, 41, 0.01) 75%, rgba(41, 41, 41, 0.01) 100%),linear-gradient(272deg, rgba(166, 166, 166, 0.01) 0%, rgba(166, 166, 166, 0.01) 20%,rgba(187, 187, 187, 0.01) 20%, rgba(187, 187, 187, 0.01) 40%,rgba(238, 238, 238, 0.01) 40%, rgba(238, 238, 238, 0.01) 60%,rgba(204, 204, 204, 0.01) 60%, rgba(204, 204, 204, 0.01) 80%,rgba(5,5,5, 0.01) 80%, rgba(5,5,5, 0.01) 100%),linear-gradient(86deg, rgba(143, 143, 143, 0.02) 0%, rgba(143, 143, 143, 0.02) 12.5%,rgba(36, 36, 36, 0.02) 12.5%, rgba(36, 36, 36, 0.02) 25%,rgba(23, 23, 23, 0.02) 25%, rgba(23, 23, 23, 0.02) 37.5%,rgba(223, 223, 223, 0.02) 37.5%, rgba(223, 223, 223, 0.02) 50%,rgba(101, 101, 101, 0.02) 50%, rgba(101, 101, 101, 0.02) 62.5%,rgba(94, 94, 94, 0.02) 62.5%, rgba(94, 94, 94, 0.02) 75%,rgba(148, 148, 148, 0.02) 75%, rgba(148, 148, 148, 0.02) 87.5%,rgba(107, 107, 107, 0.02) 87.5%, rgba(107, 107, 107, 0.02) 100%),linear-gradient(25deg, rgba(2, 2, 2, 0.02) 0%, rgba(2, 2, 2, 0.02) 16.667%,rgba(51, 51, 51, 0.02) 16.667%, rgba(51, 51, 51, 0.02) 33.334%,rgba(26, 26, 26, 0.02) 33.334%, rgba(26, 26, 26, 0.02) 50.001000000000005%,rgba(238, 238, 238, 0.02) 50.001%, rgba(238, 238, 238, 0.02) 66.668%,rgba(128, 128, 128, 0.02) 66.668%, rgba(128, 128, 128, 0.02) 83.33500000000001%,rgba(21, 21, 21, 0.02) 83.335%, rgba(21, 21, 21, 0.02) 100.002%),linear-gradient(325deg, rgba(95, 95, 95, 0.03) 0%, rgba(95, 95, 95, 0.03) 14.286%,rgba(68, 68, 68, 0.03) 14.286%, rgba(68, 68, 68, 0.03) 28.572%,rgba(194, 194, 194, 0.03) 28.572%, rgba(194, 194, 194, 0.03) 42.858%,rgba(51, 51, 51, 0.03) 42.858%, rgba(51, 51, 51, 0.03) 57.144%,rgba(110, 110, 110, 0.03) 57.144%, rgba(110, 110, 110, 0.03) 71.42999999999999%,rgba(64, 64, 64, 0.03) 71.43%, rgba(64, 64, 64, 0.03) 85.71600000000001%,rgba(31, 31, 31, 0.03) 85.716%, rgba(31, 31, 31, 0.03) 100.002%),linear-gradient(90deg, hsl(80,0%,14%),hsl(80,0%,14%));
    text-align: center;
    padding: 20px 0;
    color: #b9b9b9;
    border-top: 1px solid #b9b9b9 ;
}